.wrapper {
  position: relative;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  padding: 1rem;
  max-width: 10rem;
  width: max-content;
  background-color: white;
  box-shadow: 0 0 .5rem black;
  border-radius: .5rem;
  overflow-wrap: anywhere;

  &[data-css-is-open='true'] {
    visibility: visible;
  }
}
