@use '../../../styles/variables';

.nav {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  width: 100vw;
  box-shadow: 0 0 10px black;
  height: variables.$nav-height;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: column;
  font-style: italic;
  font-size: 2.5rem;
  height: 100%;
}

.author {
  font-size: .9rem;
}
