@use '../styles/variables';

.layout {
  display: flex;
  flex-direction: column;

}

.main {
  display: flex;
  box-sizing: border-box;
  padding: 1rem;
  min-height: calc(100vh - variables.$nav-height);
  width: 100vw;
}
